
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.bias {
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgba(196,196,196,0.2);
    color: white;
    font-weight: bold;
}

#fcbox{
    background-color: #101010 !important ;
    color: white !important ;
    text-transform: uppercase  !important ;
}

#summarybox{

    background-color:rgba(196,196,196,0.2) !important;
    color:black !important;
    text-align: justify !important;
}

.summarycontainer{
    font-size: 14px;
}

.hidden{
    display: none !important ;

}


.progress {
    width: 150px  !important ;
    height: 150px !important ;
    background: none !important ;
    position: relative !important ;
  }
  
  .progress::after {
    content: "" !important ;
    width: 100% !important ;
    height: 100% !important ;
    border-radius: 50% !important ;
    border: 6px solid #eee !important ;
    position: absolute !important ;
    top: 0 !important ;
    left: 0 !important ;
  }
  
  .progress>span {
    width: 50% !important ;
    height: 100% !important ;
    overflow: hidden !important ;
    position: absolute !important ;
    top: 0 !important ;
    z-index: 1 !important ;
  }
  
  .progress .progress-left {
    left: 0 !important ;
  }
  
  .progress .progress-bar {
    width: 100% !important ;
    height: 100% !important ;
    background: none !important ;
    border-width: 6px !important ;
    border-style: solid !important ;
    position: absolute !important ;
    top: 0 !important ;
  }
  
  .progress .progress-left .progress-bar {
    left: 100% !important ;
    border-top-right-radius: 80px !important ;
    border-bottom-right-radius: 80px !important ;
    border-left: 0 !important ;
    -webkit-transform-origin: center left !important ;
    transform-origin: center left !important ;
  }
  
  .progress .progress-right {
    right: 0 !important ;
  }
  
  .progress .progress-right .progress-bar {
    left: -100% !important ;
    border-top-left-radius: 80px !important ;
    border-bottom-left-radius: 80px !important ;
    border-right: 0 !important ;
    -webkit-transform-origin: center right !important ;
    transform-origin: center right !important ;
  }
  
  .progress .progress-value {
    position: absolute !important ;
    top: 0 !important ;
    left: 0 !important ;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  

  
  .rounded-lg {
    border-radius: 1rem !important ;
  }
  
  .text-gray {
    color: #aaa !important ;
  }
  
  div.h4 {
    line-height: 1rem !important ;
  }
  